In [52]:
import pandas as pd

df = pd.read_csv('tabula-extracted-data-CRSI-2020.csv', skip_blank_lines=True, na_filter=True)

In [53]:
df.head()

,Area,CRSI,Governance,Risk,Built Environment,Society,Natural Environment
0,National Average,4.321,0.597,0.229,0.393,0.516,0.413
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Region 1,7.53,0.66,0.24,0.492,0.599,0.445
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Connecticut,2.661,0.654,0.395,0.52,0.547,0.398

In [54]:
df_new = df.dropna(thresh=7)

In [55]:
df_new.head()

,Area,CRSI,Governance,Risk,Built Environment,Society,Natural Environment
0,National Average,4.321,0.597,0.229,0.393,0.516,0.413
2,Region 1,7.53,0.66,0.24,0.492,0.599,0.445
4,Connecticut,2.661,0.654,0.395,0.52,0.547,0.398
6,Fairfield,1.981,0.621,0.508,0.675,0.494,0.346
8,Hartford,1.568,0.671,0.65,0.646,0.525,0.311

In [56]:
df_new.to_csv('cleaned.csv')